/* single climb */
.singleClimbOuter {
    display: flex;
    margin-top: 50px;
}
  
.singleClimbContent {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.singleClimbContentInner {
    width: 90%;
    margin: 0 auto;
}

.singleClimbContent h1 {
    text-transform: uppercase;
    line-height: 100px;
}

.singleClimbContent p {
    margin-bottom: 30px;
}
  
.singleClimb {
    width: 40%;
}
  
.singleClimbImg img {
    width: 100%;
}
  
.singleClimbImg {
    position: relative;
}
  
.singleClimbImg a {
    position: absolute;
    top: -40px;
    right: -50px;
}
  
button.checkButton {
    width: fit-content;
    width: -moz-fit-content;
    background-color: unset;
    border: none;
    margin: 50px auto 0 auto;
}
  
.singleClimbDetails p {
    font-size: 20px;
    padding-bottom: 24px;
}
  
.singleClimbDetails {
    margin-top: 10px;
}
  
.largeRating {
    position: absolute;
    font-family: hwt-mardell;
    font-size: 150px;
    bottom: -80px;
    right: -57px;
    text-shadow: -5px -5px 13px rgba(255, 255, 255, 0.4)
}

/* form */
.climbForm {
    width: 85%;
    margin: 0 auto;
}

.form-group label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
  
.form-group label span {padding-bottom: 10px;}
  
.form-group { padding: 10px 0 }
  
input.form-control, textarea.form-control, select.form-control {
    width: 100%;
    max-width: 100%;
    border: 2px solid black;
    font-family: 'Circular Std';
    line-height: 20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .singleClimbOuter {
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    
    .singleClimbContent {
        width: 100%;
    }
    
    .singleClimbContentInner {
        width: 100%;
    }
    
    .climbDesktopCopy {
        display: none;
    }
    
    .climbSaveDetails {
        display: flex;
        background-color: #F2CD2A;
        justify-content: space-evenly;
        height: 120px;
    }
    
    .singleClimbContent p {
        margin: 0;
        align-self: center;
        width: 35%;
    }
    
    button.checkButton {
        margin: 0;
        display: flex;
        height: fit-content;
        align-self: center;
        height: -moz-fit-content;
    }
    
    button.checkButton img { width: 72px }

    .singleClimb {
        width: 100%;
        margin-bottom: 33px;
    }
    
    .singleClimbInner {
        width: 60%;
        margin: 0 auto;
    }
    
    .largeRating {
        font-size: 120px;
        bottom: -48px;
        right: -30px;
        text-shadow: -3px -3px 9px rgba(255, 255, 255, 0.4);
    }
    
    .singleClimbImg a {
        width: 72px;
        top: -26px;
        right: -37px;
    }

    .climbForm {
        width: 65%;
        margin: 0 auto 100px auto;
    }

    form button.checkButton { margin: 10px auto 0 auto }

    .climbDetailsCopy {
        width: 80%;
        margin: 0 auto 100px auto;
    }
    
    .climbDetailsCopy p {
        width: 100%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 768px) {
    .singleClimbOuter {
        padding-top: 150px;
        margin: 0;
    }
    
    .singleClimbInner {
        width: 80%;
    }
    
    .singleClimbImg a {
        right: -24px;
        top: -15px;
        width: 44px;
    }
    
    .largeRating {
        font-size: 100px;
        bottom: -40px;
        right: -20px;
    }

    .singleClimbContent p { width: 54% }

    .climbForm {
        width: 80%;
        margin: 0 auto 50px auto;
    }

    .climbDetailsCopy { margin-bottom: 50px }

    .climbDetailsCopy p { width: 100% }
}