/* navigation */
header {
  display: flex;
}

.logoLink, .logo {
  height: 150px;
}

.logoLink {
  margin: 10px 0 0 20px;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.navLink {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

/* homepage */
.homepageContent {
  display: flex;
}

.homepageImage img {
  width: 100%;
}

.homepageImage {
  margin-left: 20px;
  width: 30%;
}

.wallListContainer {
  width: 70%;
  text-align: center;
}

.wallList {
  padding: 0;
}

.wallList li {
  list-style-type: none;
  font-weight: normal;
  font-size: 55px;
  margin: 0 auto 20px auto;
  width: fit-content;
  width: -moz-fit-content;
}
