/* navigation */
header {
  display: flex;
}

.logoLink, .logo {
  height: 150px;
}

.logoLink {
  margin: 10px 0 0 20px;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.navLink {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

/* homepage */
.homepageContent {
  display: flex;
}

.homepageImage img {
  width: 100%;
}

.homepageImage {
  margin-left: 20px;
  width: 30%;
}

.wallListContainer {
  width: 70%;
  text-align: center;
}

.wallList {
  padding: 0;
}

.wallList li {
  list-style-type: none;
  font-weight: normal;
  font-size: 55px;
  margin: 0 auto 20px auto;
  width: fit-content;
  width: -moz-fit-content;
}

@media only screen and (max-width: 1024px) {
  header {
    background-color: #fff;
    width: 100%;
  }
  
  .logoLink, .logo { height: 100px }
  
  .logoLink { width: 33% }

  nav { width: 67% }

  .navLink { border-width: 2px }

  .homepageContent {
    flex-direction: column;
  }

  .homepageImage {
    margin: 0;
    width: 60%;
  }

  .wallListContainer {
    width: 66%;
    background-color: #fff;
    align-self: flex-end;
    margin-top: -33%;
  }

  .wallListContainer p {
    padding-top: 25px;
  }

  .wallList li {
    font-size: 40px;
    margin: 0 auto 14px auto;
  }
}
