body {
  margin: 0;
  font-family: 'Circular Std', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a, p {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  height: fit-content;
  height: -moz-fit-content;
  margin: 0;
}

h1 {
  font-size: 100px;
  margin: 0;
  font-weight: bold;
}

/* universal */
.arch {
  color: #F254A6;
}

.back {
  color: #76D3A8;
}

.hole {
  color: #F2CD2A;
}

.inside {
  color: #D61F17;
}

.slant {
  color: #2B82B9;
}

@media only screen and (max-width: 1024px) {
  a, p { font-size: 24px }

  h1 { font-size: 65px }
}