body {
  margin: 0;
  font-family: 'Circular Std', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  height: fit-content;
  height: -moz-fit-content;
  margin: 0;
}

/* navigation */
header {
  display: flex;
  margin-bottom: 45px;
}

.logoLink, .logo {
  height: 150px;
}

.logoLink {
  margin: 10px 0 0 20px;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.navLink {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

/* homepage */
.homepageContent {
  display: flex;
}

.homepageImage img {
  width: 100%;
}

.homepageImage {
  margin-left: 20px;
  width: 30%;
}

.wallListContainer {
  width: 70%;
  text-align: center;
}

.wallList {
  padding: 0;
}

.wallList li {
  list-style-type: none;
  font-weight: normal;
  font-size: 55px;
  margin: 0 auto 20px auto;
  width: fit-content;
  width: -moz-fit-content;
}

.arch {
  color: #F254A6;
}

.back {
  color: #76D3A8;
}

.hole {
  color: #F2CD2A;
}

.inside {
  color: #D61F17;
}

.slant {
  color: #2B82B9;
}

.galleryInner {
  display: flex;
}

.gallerySingle {
  width: 200px;
}

