body {
  margin: 0;
  font-family: 'Circular Std', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  height: fit-content;
  height: -moz-fit-content;
  margin: 0;
}

h1 {
  font-size: 100px;
  margin: 0;
  font-weight: bold;
}

/* navigation */
header {
  display: flex;
  margin-bottom: 45px;
}

.logoLink, .logo {
  height: 150px;
}

.logoLink {
  margin: 10px 0 0 20px;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.navLink {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

/* homepage */
.homepageContent {
  display: flex;
}

.homepageImage img {
  width: 100%;
}

.homepageImage {
  margin-left: 20px;
  width: 30%;
}

.wallListContainer {
  width: 70%;
  text-align: center;
}

.wallList {
  padding: 0;
}

.wallList li {
  list-style-type: none;
  font-weight: normal;
  font-size: 55px;
  margin: 0 auto 20px auto;
  width: fit-content;
  width: -moz-fit-content;
}

/* universal */
.arch {
  color: #F254A6;
}

.back {
  color: #76D3A8;
}

.hole {
  color: #F2CD2A;
}

.inside {
  color: #D61F17;
}

.slant {
  color: #2B82B9;
}

/* wall */
.wallContainer {
  display: flex;
}

.wallContent {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallContentInner {
  width: 80%;
  margin: 0 auto;
}

.wallContent h1 {
  margin-bottom: 50px;
}

.wallContent p {
  padding-bottom: 30px;
}

/* gallery */
.galleryOuter {
  width: 50%;
}

.galleryInner {
  display: flex;
  flex-wrap: wrap;
}

.gallerySingle {
  width: 33.33%;
  margin-bottom: -8px;
}

.galleryImg {
  width: 100%;
}

/* single climb */
.singleClimbOuter {
  display: flex;
}

.singleClimbContent {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleClimb {
  width: 50%;
}

.singleClimbImg img {
  width: 100%;
}

.singleClimbImg {
  position: relative;
}

.singleClimbImg a {
  position: absolute;
  top: -40px;
  right: -50px;
}

.singleClimbInner {
  width: 70%;
  margin: 0 auto;
}

.singleClimbContent h1 {
  text-transform: uppercase;
  line-height: 100px;
}

button.checkButton {
  width: fit-content;
  width: -moz-fit-content;
  background-color: unset;
  border: none;
  margin: 50px auto 0 auto;
}

.singleClimbContent p {
  margin-bottom: 30px;
}

.singleClimbContentInner {
  width: 57%;
  margin: 0 auto;
}

.singleClimbDetails p {
  font-size: 20px;
  padding-bottom: 24px;
}

.singleClimbDetails {
  margin-top: 10px;
}

.largeRating {
  position: absolute;
  font-family: 'HWT Mardell';
  font-size: 150px;
  bottom: -80px;
  right: -87px;
}

/* my climbs */
.myClimbs {
  display: flex;
}

.myClimbsContent {
  width: 40%;
}

.myClimbsContentInner {
  width: 80%;
  margin: 25% auto 0 auto;
  text-align: center;
}

.myClimbsContentInner p {
  margin-top: 30px;
}

/* form */
.form-group label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.form-group label span {padding-bottom: 10px;}

.form-group { padding: 10px 0 }

input.form-control, textarea.form-control, select.form-control {
  width: 100%;
  max-width: 100%;
  border: 2px solid black;
  font-family: 'Circular Std';
  line-height: 20px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
}