/* wall */
.wallContainer {
    display: flex;
}

.wallContent {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wallContentInner {
    width: 88%;
    margin: 0 auto;
}

.wallContent h1 {
    margin-bottom: 50px;
    line-height: 90px;
}

.wallContent p {
    padding-bottom: 30px;
}

  /* gallery */
.galleryOuter {
    width: 50%;
    margin-left: 5%;
}
  
.galleryInner {
    display: flex;
    flex-wrap: wrap;
}
  
.gallerySingle {
    width: 33.33%;
    margin-bottom: -8px;
}
  
.galleryImg {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .wallContainer {
        flex-direction: column;
    }
    
    .wallContent {
        width: 100%;
    }
    
    .wallContent h1 {
        margin-bottom: 25px;
        line-height: unset;
    }

    .wallContentInner {
        width: 67%;
    }
    
    .galleryOuter {
        width: 100%;
        margin: 0;
    }

    .galleryImg {
        padding: 0;
    }
}