/* 404 page */
.notFoundOuter {
  background-color: #000;
  height: calc(100vh - 160px);
}

.notFoundInner { height: 100% }

.notFoundCopy {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mobileLogo {
  display: none;
}
  
.notFoundCopy h1 {
  font-family: 'HWT Mardell';
  font-size: 450px;
  width: 100%;
  text-align: right;
  justify-self: flex-end;
  margin-top: -10%;
}
  
.notFoundCopy h2 {
  font-size: 60px;
  margin: 100px 0 0 50px;
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  .notFoundOuter { height: calc(100vh - 100px) }

  .notFoundCopy h2 {
    font-size: 45px;
    width: 55%;
    text-align: center;
    margin: 75px auto 0 auto;
  }

  .notFoundCopy h1 {
    font-size: 490px;
    margin-top: 10%;
  }
}

